apiVersion: federation/v1beta1
kind: Cluster
metadata:
  name: safespring
spec:
  serverAddressByClientCIDRs:
    - clientCIDR: "0.0.0.0/0"
      serverAddress: "https://{{ ss_api_server }}:8443"
  secretRef:
    name: safespring

---
apiVersion: federation/v1beta1
kind: Cluster
metadata:
  name: uh-iaas
spec:
  serverAddressByClientCIDRs:
    - clientCIDR: "0.0.0.0/0"
      serverAddress: "https://{{ uh_iaas_api_server }}:8443"
  secretRef:
    name: uh-iaas