apiVersion: federation/v1beta1
kind: Cluster
metadata:
  name: safespring
spec:
  serverAddressByClientCIDRs:
    - clientCIDR: "0.0.0.0/0"
      serverAddress: "https://{{ hostvars[groups['masters'][0]]['public_ip'] }}8443"
  secretRef:
    name: safespring
