apiVersion: v1
kind: ServiceAccount
metadata:
  name: federation-apiserver
  namespace: federation-system

---
apiVersion: v1
kind: Service
metadata:
  name: federation-apiserver
  namespace: federation-system
  labels:
    app: federated-cluster
spec:
  type: NodePort
  selector:
    app: federated-cluster
    module: federation-apiserver
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: federation-apiserver
  namespace: federation-system
  labels:
    app: federated-cluster
spec:
  template:
    metadata:
      name: federation-apiserver
      labels:
        app: federated-cluster
        module: federation-apiserver
    spec:
      serviceAccountName: federation-apiserver
      containers:
      - name: apiserver
        image: gcr.io/google_containers/hyperkube-amd64:v{{k8s_ver}}
        command:
          - /hyperkube
          - federation-apiserver
          - --bind-address=0.0.0.0
          - --etcd-servers=http://etcd-fed:2379
          - --secure-port=443
          - --advertise-address={{fed_public_api_ip}}
          # - --token-auth-file=/srv/kubernetes/known-tokens.csv
        ports:
          - containerPort: 443
            name: https
          - containerPort: 8080
            name: local
      #   volumeMounts:
      #     - name: federation-apiserver-secrets
      #       mountPath: /srv/kubernetes/
      #       readOnly: true
      # volumes:
      #   - name: federation-apiserver-secrets
      #     secret:
      #       secretName: federation-apiserver-secrets
