apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://{{ fed_public_api_ip }}/
    insecure-skip-tls-verify: true
  name: {{ cluster_name }}-fed
users:
- name: {{ cluster_name }}-fed-admin
  user:
    token: {{fed_api_token}}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}-fed-admin
  name: {{ cluster_name }}-fed-admin
current-context: {{ cluster_name }}-fed-admin
