azure_subscription_id = ""
azure_tenant_id = ""
azure_client_id = ""
azure_client_secret = ""
azure_region" = "westeurope"
azure_master_instance_type = "Standard_A1_v2"
azure_worker_instance_type = "Standard_A2_v2"
azure_coreos_image = "latest"

aws_access_key = ""
aws_secret_key = ""
aws_master_instance_type = "t2.medium"
aws_worker_instance_type = "t2.large"
aws_coreos_image = "ami-f3b9639c"

uhiaas_user_name = ""
uhiaas_password = ""
uhiaas_tenant_name = "uninett-researchlab"
uhiaas_region = "osl"
uhiaas_coreos_image = "17a9093b-f806-4da4-a839-b098f165ad26"
uhiaas_availability_zone = ""
uhiaas_node_flavor = "m1.medium"
uhiaas_worker_node_flavor = "m1.medium"
uhiaas_public_v4_network = "dab01c68-c25d-4051-ad5b-7b7b07f16f05"
uhiaas_auth_url = "https://api.uh-iaas.no:5000/v3"
uhiaas_domain_name = "dataporten"

safespring_user_name = "researchlab.uninett.no"
safespring_password = ""
safespring_auth_url = "https://keystone.api.cloud.ipnett.no/v3"
safespring_domain_name = "uninett.no"
safespring_tenant_name = "researchlab.uninett.no"
safespring_region = "no-south-1"
safespring_node_flavor = "b.medium"
safespring_worker_node_flavor = "b.medium"
safespring_coreos_image = "43b8e538-2c77-4302-906b-6605b7842590"
safespring_public_v4_network = "cbcbe027-9391-4ddc-98ec-5bfa96a9332e"

cluster_name = "olavkube"
cluster_dns_domain = "olavkube.researchlab.uninett.no"

// Number of instances
master_count = 3
worker_count = 4
lb_count = 3

ingress_use_proxy_protocol = ""

allow_ssh_from_v4 = [
  "158.38.62.0/23",
]

allow_lb_from_v4 = [
  "158.38.62.0/23",
  "158.38.4.8/32",
  "128.39.70.148/32",
  "158.38.4.14/32",
  "128.39.70.150/32",
]

allow_api_access_from_v4 = [
  "158.38.62.0/23",
  "158.38.4.8/32",
  "128.39.70.148/32",
  "158.38.4.14/32",
  "128.39.70.150/32",
]
